.celling {
    background-image: url('https://image.freepik.com/vector-gratis/escena-pared-techo-rojo_1308-4819.jpg');
    min-height: 90vh;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    background-position: top;
    background-size: cover;
}