.education {
    background-image: url('https://image.freepik.com/foto-gratis/nino-decide-grunir-sobre-asfalto_73944-10794.jpg');
    min-height: 90vh;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    background-position: top;
    background-size: cover;
}