.sowing {
    background-image: url('https://image.freepik.com/foto-gratis/manos-plantando-planta-que-crezca_23-2147609773.jpg');
    min-height: 90vh;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    background-position: top;
    background-size: cover;
}